@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredoka+One&display=swap");

/* base styles */
* {
  margin: 0;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-family: "Bungee Shade";
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.footer {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

button {
  padding: 1%;
  margin: 2%;
  font-family: monospace;
  background-color: yellow;
  text-decoration: none;
  box-shadow: -5px 5px 5px 1px lightgrey;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #8fc47a;
  margin-bottom: 8px;
  font-family: "Bungee Shade";
}
.blog-preview h4 {
  font-family: "Fredoka One";
  font-size: 0.8rem;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: #8fc47a;
  margin-bottom: 10px;
  font-family: "Bungee Shade";
}
.blog-details div {
  margin: 20px 0;
}


